
@media(max-width:900px){
    body{
        margin: 0;
        font-size: 16px;
    }
    .green-space{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 680px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        background-color: #50C878;
    }

    .green-space .img{
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 60%;
      
    }

    .green-space .img img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        
    }

    .white-space{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
        height: 400px;
        width: 100%;
        background-color: #fff;
        border-top-right-radius: 36%;
        padding: 30px;
    }

    h2{
        color: rgb(9, 117, 9);
    }

    p{
        color: #999;
    }
    
    .rangSpan{
      width: 100%;
    }
    .price{
        color: rgb(219, 8, 8);
        padding-left: 0px;
        margin-left: 5px;
        width: 20%;
    }

    input[type=range] {
        padding: 0;
        margin: 0;
        height: 12px;
        -webkit-appearance: none;
        width: 70%;
      }
      input[type=range]:focus {
        outline: none;
      }
      input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        box-shadow: 0px 0px 0px #000000;
        background: #ddd;
        border-radius: 1px;
        border: 0px solid #000000;
      }
      input[type=range]::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px #000000;
        border: 1px solid #ddd;
        height: 16px;
        width: 16px;
        border-radius: 40px;
        background: #ddd;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -5px;
      }
      input[type=range]:focus::-webkit-slider-runnable-track {
        background: #ddd;
      }

      

    .all-features{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .feature{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 33%;
        height: 150px;
    }

    .feature .icon{
        color: #555;
        padding: 20px;
        font-size: 20px;
    }

    .feature p{
        color: #999;
    }

    .all-buttons{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: left;
        width: 100%;
        height: auto;
    }

    .button{
        border: none;
        color: white;
        padding: 12px;
        width:50%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        margin: 20px 0px;
        transition: all 0.3s ease-in-out;
        font-family: 'Tajawal', sans-serif;
        cursor: pointer;
        background-color:  #50C878
    }
    
    .button:hover{
        background-color: #000000;
    }

    .heart{
        background-color: #6ef89c;
        padding: 12px 18px;
        margin-left: 20px;
    }

    .fa-plus-circle{
        color: #fff;
        padding-left: 20px;
    }

    .fa-plus-circle:hover{
        color: #50C878;
    }

    .fa-heart{
        font-size: 18px;
    }

    .fa-heart:hover{
        color: rgb(219, 8, 8);
    }
      
    
}
